.git
.github
.gitignore
.husky
.prettierignore
.prettierrc
.env
.env.*
!.env.example

node_modules
.next
out
build
dist

coverage
test-results
playwright-report
blob-report
playwright/.cache

.DS_Store
*.log
npm-debug.log*

docs
e2e
scripts
src/__tests__
*.md
!README.md

tsconfig.tsbuildinfo
